[submodule "src/amr_imu"]
	path = src/amr_imu
	url = https://github.com/XKHoshizora/amr_imu.git
[submodule "src/amr_map"]
	path = src/amr_map
	url = https://github.com/XKHoshizora/amr_map.git
[submodule "src/amr_navi"]
	path = src/amr_navi
	url = https://github.com/XKHoshizora/amr_navi.git
[submodule "src/amr_slam"]
	path = src/amr_slam
	url = https://github.com/XKHoshizora/amr_slam.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "src/wpr_simulation"]
	path = src/wpr_simulation
	url = https://github.com/6-robot/wpr_simulation.git
[submodule "src/wpb_home"]
	path = src/wpb_home
	url = https://github.com/6-robot/wpb_home.git
[submodule "src/waterplus_map_tools"]
	path = src/waterplus_map_tools
	url = https://github.com/6-robot/waterplus_map_tools.git
[submodule "src/amr_controller"]
	path = src/amr_controller
	url = https://github.com/XKHoshizora/amr_controller.git
[submodule "src/om_modbus_master"]
	path = src/om_modbus_master
	url = https://github.com/XKHoshizora/om_modbus_master.git
[submodule "src/amr_launcher"]
	path = src/amr_launcher
	url = https://github.com/XKHoshizora/amr_launcher.git
[submodule "src/amr_description"]
	path = src/amr_description
	url = https://github.com/XKHoshizora/amr_description.git
[submodule "src/amr_laser_filters"]
	path = src/amr_laser_filters
	url = https://github.com/XKHoshizora/amr_laser_filters.git
