[submodule "src/amr_map"]
	path = src/amr_map
	url = https://github.com/XKHoshizora/amr_map.git
[submodule "src/amr_navi"]
	path = src/amr_navi
	url = https://github.com/XKHoshizora/amr_navi.git
[submodule "src/amr_slam"]
	path = src/amr_slam
	url = https://github.com/XKHoshizora/amr_slam.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "src/wpr_simulation"]
	path = src/wpr_simulation
	url = https://github.com/6-robot/wpr_simulation.git
[submodule "src/wpb_home"]
	path = src/wpb_home
	url = https://github.com/6-robot/wpb_home.git
[submodule "src/waterplus_map_tools"]
	path = src/waterplus_map_tools
	url = https://github.com/6-robot/waterplus_map_tools.git
[submodule "src/amr_controller"]
	path = src/amr_controller
	url = https://github.com/XKHoshizora/amr_controller.git
[submodule "src/om_modbus_master"]
	path = src/om_modbus_master
	url = https://github.com/XKHoshizora/om_modbus_master.git
[submodule "src/amr_launcher"]
	path = src/amr_launcher
	url = https://github.com/XKHoshizora/amr_launcher.git
[submodule "src/amr_description"]
	path = src/amr_description
	url = https://github.com/XKHoshizora/amr_description.git
[submodule "src/amr_laser_filters"]
	path = src/amr_laser_filters
	url = https://github.com/XKHoshizora/amr_laser_filters.git
[submodule "src/jie_ware"]
	path = src/jie_ware
	url = https://github.com/6-robot/jie_ware.git
[submodule "src/amr_imu_filters"]
	path = src/amr_imu_filters
	url = https://github.com/XKHoshizora/amr_imu_filters.git
[submodule "src/amr_monitor"]
	path = src/amr_monitor
	url = https://github.com/XKHoshizora/amr_monitor.git
[submodule "src/amr_people_tracking"]
	path = src/amr_people_tracking
	url = https://github.com/XKHoshizora/amr_people_tracking.git
[submodule "src/amr_lidar_localization"]
	path = src/amr_lidar_localization
	url = https://github.com/XKHoshizora/amr_lidar_localization.git
[submodule "src/amr_map_tools"]
	path = src/amr_map_tools
	url = https://github.com/XKHoshizora/amr_map_tools.git
[submodule "src/wp_nav_controller"]
	path = src/wp_nav_controller
	url = https://github.com/XKHoshizora/wp_nav_controller.git
[submodule "src/map_restriction_plugin"]
	path = src/map_restriction_plugin
	url = https://github.com/XKHoshizora/map_restriction_plugin.git
